.nuxt
assets
components
dist
layouts
node_modules
pages
plugins
static
store
test
utils
.editorconfig
.env
.eslintrc.js
.gitignore
.node-version
jest.config.js
nuxt.config.js
old_nuxt.config.js
.firebase