.git
node_modules
vendor
*.jar
resource
package-lock.json
package.json
memo
.venv
components
assets
layouts
pages
plugins
test
utils
gmap/__pycache__
gmap/settings/local.py
map/__pycache__
map/migrations/__pycache__
map/api/__pycache__
log/*
old_client/*
terraform/*
.vscode/*
module.tf
terraform.tfstate
terraform.tfstate.backup
.terraform/
.env
client/*
e2e